<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://jluat89notificationdeployerfunction-middleapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/890e8355-4215-49ce-bd4c-3ad7046b7399/resourceGroups/JLUat89RG/providers/Microsoft.Web/sites/jluat89notificationdeployerfunction/slots/middleapi</ResourceId>
    <UserName>$jluat89notificationdeployerfunction__middleapi</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://jluat89notificationdeployerfunction-middleapi.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>